python-dotenv
numpy                
pandas                

apache-superset

SQLAlchemy
psycopg2-binary

kafka-python

apache-airflow

dbt-core
dbt-postgres

great-expectations

pyspark

black
flake8

pyyaml
rich
 
